spring:
  application:
    name: restapi

  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://localhost:3306/restapidb?serverTimezone=Asia/Seoul
    driver-class-name: org.h2.Driver
    url: jdbc:h2:tcp://localhost/~/restapi
#    username: restapiuser
#    password: restapiuser
    hikari:
      minimum-idle: 2
      maximum-pool-size: 5
    username: sa

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true #실행되는 jpql을 보고싶을때
        default_batch_fetch_size: 100 #N+1문제해결

logging:
  level:
    org.springframework.security.web: TRACE



